* {
  margin: 0%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background-color: yellow; */
}
#navbar {
  height: 72px;
  width: 100%;
  background-color: rgb(0, 37, 60);
  display: flex;
  gap: 5%;
}

.left {
  height: 60px;
  width: 40%;
  /* border: 1px solid white; */
  margin-left: 5%;
  display: flex;
}

.left div:nth-child(1) {
  height: 35px;
  width: 45%;
  /* border: 1px solid white; */
}

.left div:nth-child(2) {
  height: 35px;
  width: 60%;
  margin-left: 8%;
  /* border: 1px solid white; */
  margin-top: 3%;
}

.left img {
  width: 100%;
  height: 100%;
  padding-top: 12%;
}

.right {
  height: 60px;
  width: 50%;
  /* border: 1px solid white; */
  display: flex;
  /* gap: 1%; */
  margin-left: 15%;
}

.right > div {
  width: 30%;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5%;
}

.right > div:hover {
  color: rgb(0, 164, 187);
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
  color: rgb(0, 164, 187);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  font-size: 14px;
  position: absolute;
  background-color: white;
  min-width: 340px;
  min-height: 360px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  color: rgb(0, 164, 187);
  /* border: 1px solid red; */
  /* background-color: red; */
}
.dropdown:hover {
  /* border: 1px solid red; */
}
.show {
  display: block;
}
